fastapi
uvicorn[standard]
python-multipart
python-dotenv
supabase
pydantic
pymupdf
pytesseract
Pillow
langchain
langchain-community
langchain-huggingface
langchain-openai
langchain-text-splitters
faiss-cpu
huggingface-hub
transformers
torch
tqdm
aiofiles
PyJWT